<app-card title="عرفتي آخر الأخبار" class="mt-10" [tabTitles]="['الكل', 'انت', 'أحلام', 'محمد']">


  <div class="tab1 m-3">
    <div>
      <figure class="h-60 overflow-hidden  flex justify-center mat-elevation-z3 relative bg-gray-600">

        <img class="bg-for-img" [src]="selectedArticles[0].image"
             [alt]="selectedArticles[0].post_title">

        <img class="img-h-max shadow-2xl" [src]="selectedArticles[0].image"
             [alt]="selectedArticles[0].post_title">

      </figure>

      <div class="meta flex flex-row items-center my-2 mx-1">
        <div class="flex items-center me-3 text-secondary">
          <mat-icon class="icon-size-4 me-2 text-secondary" svgIcon="mat_outline:account_circle"></mat-icon>
          {{selectedArticles[0].post_author}}
        </div>
        <div class="flex items-center text-secondary">
          <mat-icon class="icon-size-4 me-2" svgIcon="mat_solid:access_time"></mat-icon>
          {{selectedArticles[0].post_date}}
        </div>
      </div>

      <div class="font-bold text-lg mb-2 mx-1">{{selectedArticles[0].post_title}}</div>

      <p class="mx-1">{{selectedArticles[0].post_excerpt}}</p>

    </div>
    <div class="article flex py-3 mx-1" *ngFor="let article of selectedArticles; let i = index">
      <ng-container *ngIf="i!== 0">
        <div class="max-w-1/3">
          <div class="w-26 h-20 overflow-hidden  flex justify-center mat-elevation-z3">
            <img class=" img-h-max" [src]="article.image"
                 [alt]="article.post_title">
          </div>
        </div>
        <div class="ms-3">
          <div class="flex items-center">
            <mat-icon class="icon-size-4 me-2 text-secondary" svgIcon="mat_solid:access_time"></mat-icon>
            {{selectedArticles[0].post_date}}
          </div>
          <div class="font-bold text-lg">{{article.post_title}}</div>
        </div>
      </ng-container>
    </div>
  </div>
</app-card>
