<mat-card  class="my-3  bg-primary text-white">
  <mat-card-title class="flex justify-between ">
    <span>نصيحة اليوم</span>
    <mat-icon svgIcon="heroicons_outline:dots-vertical"></mat-icon>
  </mat-card-title>

  <mat-card-content class="flex flex-col  min-h-20">
      <div class="text-3xl my-4 leading-9 text-center">هل تعلمين ان الرضاعة الطبيعية تحتوي علي عناصر غزائبة بلا بلا بلا </div>
  <div class="text-end"><a mat-stroked-button class="mat-dense" href="#">لمعرفة المزيد ...</a></div>
  </mat-card-content>

</mat-card>
