<div dir="rtl" #container1 (click)="log($event)">
  <mat-toolbar class="w-full justify-between shadow-xl" style="height: 60px">
    <span style="width: 40px"></span>
    <div class="flex-grow text-center"><img class="h-full w-auto inline" src="/assets/images/logo-mobile-1x.png"
                                            alt="يوميات مامي"></div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>


  </mat-toolbar>

  <mat-toolbar #titleToolbar class="flex w-full justify-between shadow-xl" [class.sticky]="isSticky" style="height: 60px">


    <div class="flex flex-row items-center">
      <mat-icon>menu</mat-icon>
      <h1 style="">أسبوع بأسبوع</h1></div>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <div class="flex-grow  overflow-y-auto">asd
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum facilis nostrum obcaecati vero! Aperiam,
    consequuntur corporis cumque dicta ducimus et fugit ipsam nam natus nobis praesentium repellendus reprehenderit,
    similique.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum facilis nostrum obcaecati vero! Aperiam,
    consequuntur corporis cumque dicta ducimus et fugit ipsam nam natus nobis praesentium repellendus reprehenderit,
    similique.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum facilis nostrum obcaecati vero! Aperiam,
    consequuntur corporis cumque dicta ducimus et fugit ipsam nam natus nobis praesentium repellendus reprehenderit,
    similique.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum facilis nostrum obcaecati vero! Aperiam,
    consequuntur corporis cumque dicta ducimus et fugit ipsam nam natus nobis praesentium repellendus reprehenderit,
    similique.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum facilis nostrum obcaecati vero! Aperiam,
    consequuntur corporis cumque dicta ducimus et fugit ipsam nam natus nobis praesentium repellendus reprehenderit,
    similique.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum facilis nostrum obcaecati vero! Aperiam,
    consequuntur corporis cumque dicta ducimus et fugit ipsam nam natus nobis praesentium repellendus reprehenderit,
    similique.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum facilis nostrum obcaecati vero! Aperiam,
    consequuntur corporis cumque dicta ducimus et fugit ipsam nam natus nobis praesentium repellendus reprehenderit,
    similique.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum facilis nostrum obcaecati vero! Aperiam,
    consequuntur corporis cumque dicta ducimus et fugit ipsam nam natus nobis praesentium repellendus reprehenderit,
    similique.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum facilis nostrum obcaecati vero! Aperiam,
    consequuntur corporis cumque dicta ducimus et fugit ipsam nam natus nobis praesentium repellendus reprehenderit,
    similique.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum facilis nostrum obcaecati vero! Aperiam,
    consequuntur corporis cumque dicta ducimus et fugit ipsam nam natus nobis praesentium repellendus reprehenderit,
    similique.

  </div>

  <div class="h-1/2 ">asasdas<br>dd</div>
</div>
