<div class="w-full max-w-200 mx-auto shadow-2xl bg-gray-200  h-full flex-grow"
     dir="rtl" #container1>

  <mat-toolbar class="w-full justify-between shadow-xl" style="height: 60px">

    <div class="flex-grow text-center">
      <img class="h-full w-auto inline" src="/assets/images/logo-mobile-1x.png" alt="يوميات مامي">
    </div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon svgIcon="apps"></mat-icon>
    </button>


  </mat-toolbar>

  <mat-toolbar #titleToolbar class="flex w-full justify-start shadow-xl" [class.sticky]="isSticky"
               style="height: 60px">


    <div class="flex flex-row flex-grow items-center">
      <mat-icon svgIcon="calendar_today" class="me-2"></mat-icon>
      <h1>أسبوع بأسبوع</h1></div>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon svgIcon="notifications"></mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon svgIcon="heroicons_outline:dots-vertical"></mat-icon>
    </button>
  </mat-toolbar>

  <main class="flex-grow   overflow-y-auto mx-2 mt-3">

    <router-outlet *ngIf="true"></router-outlet>


  </main>


</div>

