// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '../../node_modules/@angular/material/index' as mat;

@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$primary-palette: (
  50: var(--mmy-primary-50),
  100: var(--mmy-primary-100),
  200: var(--mmy-primary-200),
  300: var(--mmy-primary-300),
  400: var(--mmy-primary-400),
  500: var(--mmy-primary-500),
  600: var(--mmy-primary-600),
  700: var(--mmy-primary-700),
  800: var(--mmy-primary-800),
  900: var(--mmy-primary-900),
  A100: var(--mmy-primary-A100),
  A200: var(--mmy-primary-A200),
  A400: var(--mmy-primary-A400),
  A700: var(--mmy-primary-A700),
  contrast: (
    50: var(--mmy-on-primary-50),
    100: var(--mmy-on-primary-100),
    200: var(--mmy-on-primary-200),
    300: var(--mmy-on-primary-300),
    400: var(--mmy-on-primary-400),
    500: var(--mmy-on-primary-500),
    600: var(--mmy-on-primary-600),
    700: var(--mmy-on-primary-700),
    800: var(--mmy-on-primary-800),
    900: var(--mmy-on-primary-900),
    A100: var(--mmy-on-primary-A100),
    A200: var(--mmy-on-primary-A200),
    A400: var(--mmy-on-primary-A400),
    A700: var(--mmy-on-primary-A700),
  )
);
$accent-palette: (
  50: var(--mmy-accent-50),
  100: var(--mmy-accent-100),
  200: var(--mmy-accent-200),
  300: var(--mmy-accent-300),
  400: var(--mmy-accent-400),
  500: var(--mmy-accent-500),
  600: var(--mmy-accent-600),
  700: var(--mmy-accent-700),
  800: var(--mmy-accent-800),
  900: var(--mmy-accent-900),
  A100: var(--mmy-accent-A100),
  A200: var(--mmy-accent-A200),
  A400: var(--mmy-accent-A400),
  A700: var(--mmy-accent-A700),
  contrast: (
    50: var(--mmy-on-accent-50),
    100: var(--mmy-on-accent-100),
    200: var(--mmy-on-accent-200),
    300: var(--mmy-on-accent-300),
    400: var(--mmy-on-accent-400),
    500: var(--mmy-on-accent-500),
    600: var(--mmy-on-accent-600),
    700: var(--mmy-on-accent-700),
    800: var(--mmy-on-accent-800),
    900: var(--mmy-on-accent-900),
    A100: var(--mmy-on-accent-A100),
    A200: var(--mmy-on-accent-A200),
    A400: var(--mmy-on-accent-A400),
    A700: var(--mmy-on-accent-A700),
  )
);

$mmy_app-primary: mat.define-palette($primary-palette);
$mmy_app-accent: mat.define-palette($accent-palette, A200, A100, A400);
$mmy_app-warn: mat.define-palette(mat.$red-palette);


$mmy_app-theme: mat.define-light-theme((
  color: (
    primary: $mmy_app-primary,
    accent: $mmy_app-accent,
    warn: $mmy_app-warn,
  )
));
@include mat.all-component-themes($mmy_app-theme);


body.dark,
body .dark {
  $mmy_app-theme1: mat.define-dark-theme((
    color: (
      primary: $mmy_app-primary,
      accent: $mmy_app-accent,
      warn: $mmy_app-warn,
    )
  ));
  @include mat.all-component-themes($mmy_app-theme1);
}





