<app-card title="عرفتي آخر الأخبار" class="mt-10"
          [tabTitles]="days"
          [activeTap]="0">

  <ng-container class="tab1">     <div class="article flex p-3" *ngFor="let article of lastNews">
    <div class="max-w-1/3">
      <div class="w-26 h-20 overflow-hidden rounded-xl flex justify-center shadow">
        <img class=" img-h-max" [src]="article.image"
             [alt]="article.post_title">
      </div>
    </div>
    <div class="ms-3">
      <div class="flex items-center">
        <mat-icon class="icon-size-4 me-2" svgIcon="mat_solid:access_time"></mat-icon>
        {{article.post_date}}
      </div>
      <div class="font-bold text-lg">{{article.post_title}}</div>
    </div>
  </div></ng-container>
  <ng-container class="tab2"> <div class="text-secondary flex justify-center items-center">لا يوجد محتوي</div></ng-container>
  <ng-container class="tab3"> <div class="text-secondary flex justify-center items-center">لا يوجد محتوي</div></ng-container>
  <ng-container class="tab4"> <div class="text-secondary flex justify-center items-center">لا يوجد محتوي</div></ng-container>
  <ng-container class="tab5"> <div class="text-secondary flex justify-center items-center">لا يوجد محتوي</div></ng-container>
  <ng-container class="tab6"> <div class="text-secondary flex justify-center items-center">لا يوجد محتوي</div></ng-container>
  <ng-container class="tab7"> <div class="text-secondary flex justify-center items-center">لا يوجد محتوي</div></ng-container>


</app-card>

